<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="home.css">

</head>
<body>
     
    
    <div class="container">
        
        <nav>
           <ul>
                <li>FINE-DINE-SHINE</li>
                <li><a href="">HOME</a></li>
                <li><a href="">MENU</a></li>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">EVENTS</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="">RESERVATIONS</a></li>
            
           </ul>
        </nav>


    </div> 
    
</body>
</html>