/* styles.css */
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f0f0;
    background-image:url(brownfudge.jpg);
    color: rgb(250, 248, 248);
    align-items: center;
    padding-top: 200px;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #0f0606;
    border: 1px solid #0fc43c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    margin-top: 0;
    font-weight: bold;
    color: #1de26cd4;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #3e8e41;
}