<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>

    
    <h1>FINE-DINE-SHINE</h1>
    <div class="sign">
        <h2>SIGNUP</h2>
        <form action="/signup" method="post">
        <label for="name">NAME:</label>
        <input type="text" name="name" placeholder="Name">
        <label for="password">PASSWORD:</label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
        
    </form>
    <div>
         <a href="/login">Already have an account?</a>
    </div>
    
    </div>
    
</body>
</html>